a {
    outline: none;
    text-decoration: none;
    color: #000000;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.about-div h1 {
    font-size: 3.75rem;
    font-weight: 700;
}

.about-div p {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.green-button {
    width: 12vw;
    border: 0.12em solid #658161;
    background-color: #ffffff;
    padding: 1.2em 2.4em;
    color: #658161;
    border-radius: 0.6em;
    text-transform: uppercase;
    font-weight: 700;
}

.h2Paragarph h2 {
    font-size: 3rem;
}

.h2Paragarph p {
    font-size: 1.25rem;
}

.h2Paragarph {
    padding: 2em 1.5em;
}

.ul-list-2Screeen {
    display: flex;
    flex-direction: column;
}

.ul-list-2Screeen li {
    font-size: 1.125rem;
    padding-top: 2vh;
}

.ul-list-2Screeen img {
    height: 1vh;
    width: 1vh;
}

.margin-pargraph {
    margin-top: 2vh;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.p-block {
    padding: 2em;
}

.d-flex {
    display: flex;
}

.t-size-color {
    font-size: 1.125rem;
    font-weight: 700;
    color: #ffffff;
}

.flex-row img {
    width: 2.5vw;
    height: 2.5vw;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    height: 60vh;
}

.section-title h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 4vh;
    margin-bottom: 3vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin: 0 5vw;
}

.grid-item {
    display: flex;
    padding: 2vh;
}

.grid-item .icon {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 1vw;
}

.grid-item h4 {
    font-size: 1.5rem;
    margin: 0 0 0.3em 0;
}

.grid-item p {
    font-size: 1rem;
    margin-top: 1.5vh;
    line-height: 1.8rem;
}

.grid-fScreen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    max-width: 80vw;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    width: 18vw;
    height: 50vh;
    padding: 2vh;
    border-radius: 0.6em;
    box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grid-container-4 {
    background-color: #d4e2d2;
    height: 80vh;
}

.section-title-4 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.section-title-4 h2 {
    font-size: 3rem;
    color: #111111;
    margin: 4vh 12vw 0;
}

.section-title-4 p {
    font-size: 1.125rem;
    color: #111111;
    margin: 0.7vh 17vw 0;
}

.grid-fScreen {
    margin-top: 4vh;
}

.card h5 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 0.7em;
}

.card p {
    font-size: 1rem;
    font-style: italic;
    line-height: 1.8rem;
    margin-top: 1.5vh;
}

.more-btn {
    align-self: center;
    width: 7vw;
    padding: 0.5em 1em;
    font-size: 0.875rem;
    color: #b6ccb2;
    background-color: #ffffff;
    border: 0.15em solid #b6ccb2;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.more-btn:hover {
    background-color: #b6ccb2;
    color: white;
}

.contact-left h2 {
    font-size: 3rem;
    font-weight: 400;
}

.contact-left p {
    font-size: 1.25rem;
    line-height: 2.25rem;
}
